{{ partial "head" . }}

{{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
	{{ $repo_id := replace .Site.Params.repo_url "https://github.com/" ""}}
	{{ .Scratch.Set "repo_id" $repo_id }}
{{ end }}

<div class="backdrop">
	<div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header">
	{{ partial "header" . }}
</header>

<main class="main">
	<div class="drawer">
		{{ partial "drawer" . }}
	</div>

	<article class="article">
		<div class="wrapper">
			{{ range where .Site.Pages "Type" "index" }}
				<h1>{{ .Title }} {{ if .IsDraft }} (Draft){{ end }}</h1>

				{{ .Content }}
			{{ end }}

			<aside class="copyright" role="note" style="text-align: center">
				<br>
				{{ with .Site.Params.copyright }}
				&copy; {{ now.Format "2006" }} &middot; {{ . }}
				<strong>CC BY-SA</strong> <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="CC License" style="border-width:0; margin-left: 10px" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"></a>
				<br>
				<br>
				<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
				<script type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>
				<div style="font-size:14px; display: block; margin-left: auto; margin-right: auto" class="blockchain-btn" data-address="152pyNwPRr22XWYdTuyHormznzu4PvPrWg" data-shared="false">
    			<div class="blockchain stage-begin">
        		<img src="images/btc_logo.png" style="width: 130px; height: auto">
    			</div>
					<div class="blockchain stage-loading">
        		<img src="images/loading.gif" style="text-align: center; width: 150px; height: auto">
    			</div>
    			<div class="blockchain stage-ready">
        		<p align="center">Donations accepted to this Bitcoin address: <br>
						<b>[[address]]</b></p>
						<p align="center" class="qr-code"></p>
    			</div>
					<div class="blockchain stage-paid">
         		Donation of <b>[[value]] BTC</b> Received. Thank You.
    			</div>
    			<div class="blockchain stage-error">
        		<font color="red">[[error]]</font>
    			</div>
				</div>
				{{ end }}
			</aside>

			<footer class="footer">
				{{ partial "footer" . }}
			</footer>
		</div>
	</article>

	<div class="results" role="status" aria-live="polite">
		<div class="scrollable">
			<div class="wrapper">
				<div class="meta"></div>
				<div class="list"></div>
			</div>
		</div>
	</div>
</main>

{{ partial "footer_js" . }}
