@supports (-webkit-appearance:none) {
    .palette-primary-red {
        background: #e84e40
    }
}

.palette-primary-red .footer,
.palette-primary-red .header {
    background: #e84e40
}

.palette-primary-red .drawer .toc a.current,
.palette-primary-red .drawer .toc a:focus,
.palette-primary-red .drawer .toc a:hover {
    color: #e84e40
}

.palette-primary-red .drawer .anchor a {
    border-left: 2px solid #e84e40
}

.ios.standalone .palette-primary-red .article {
    background: -webkit-linear-gradient(top, #fff 50%, #e84e40 0);
    background: linear-gradient(180deg, #fff 50%, #e84e40 0)
}

.palette-primary-red .article a,
.palette-primary-red .article code,
.palette-primary-red .article h1,
.palette-primary-red .article h2 {
    color: #e84e40
}

.palette-primary-red .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-red .article table th {
    background: #ee7a70
}

.palette-primary-red .results .meta {
    background: #e84e40
}

@supports (-webkit-appearance:none) {
    .palette-primary-dark {
        background: #172232
    }
}

.palette-primary-dark .footer,
.palette-primary-dark .header {
    background: #172232
}

.palette-primary-dark .drawer .toc a.current,
.palette-primary-dark .drawer .toc a:focus,
.palette-primary-dark .drawer .toc a:hover {
    color: #e84e40
}

.palette-primary-dark .drawer .anchor a {
    border-left: 2px solid #e84e40
}

.ios.standalone .palette-primary-dark .article {
    background: -webkit-linear-gradient(top, #fff 50%, #172232 0);
    background: linear-gradient(180deg, #fff 50%, #172232 0)
}

.palette-primary-dark .article a,
.palette-primary-dark .article code,
.palette-primary-dark .article h1,
.palette-primary-dark .article h2 {
    color: #e84e40
}

.palette-primary-dark .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-dark .article table th {
    background: #e84e40
}

.palette-primary-dark .results .meta {
    background: #172232
}

@supports (-webkit-appearance:none) {
    .palette-primary-pink {
        background: #e91e63
    }
}

.palette-primary-pink .footer,
.palette-primary-pink .header {
    background: #e91e63
}

.palette-primary-pink .drawer .toc a.current,
.palette-primary-pink .drawer .toc a:focus,
.palette-primary-pink .drawer .toc a:hover {
    color: #e91e63
}

.palette-primary-pink .drawer .anchor a {
    border-left: 2px solid #e91e63
}

.ios.standalone .palette-primary-pink .article {
    background: -webkit-linear-gradient(top, #fff 50%, #e91e63 0);
    background: linear-gradient(180deg, #fff 50%, #e91e63 0)
}

.palette-primary-pink .article a,
.palette-primary-pink .article code,
.palette-primary-pink .article h1,
.palette-primary-pink .article h2 {
    color: #e91e63
}

.palette-primary-pink .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-pink .article table th {
    background: #ef568a
}

.palette-primary-pink .results .meta {
    background: #e91e63
}

@supports (-webkit-appearance:none) {
    .palette-primary-purple {
        background: #ab47bc
    }
}

.palette-primary-purple .footer,
.palette-primary-purple .header {
    background: #ab47bc
}

.palette-primary-purple .drawer .toc a.current,
.palette-primary-purple .drawer .toc a:focus,
.palette-primary-purple .drawer .toc a:hover {
    color: #ab47bc
}

.palette-primary-purple .drawer .anchor a {
    border-left: 2px solid #ab47bc
}

.ios.standalone .palette-primary-purple .article {
    background: -webkit-linear-gradient(top, #fff 50%, #ab47bc 0);
    background: linear-gradient(180deg, #fff 50%, #ab47bc 0)
}

.palette-primary-purple .article a,
.palette-primary-purple .article code,
.palette-primary-purple .article h1,
.palette-primary-purple .article h2 {
    color: #ab47bc
}

.palette-primary-purple .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-purple .article table th {
    background: #c075cd
}

.palette-primary-purple .results .meta {
    background: #ab47bc
}

@supports (-webkit-appearance:none) {
    .palette-primary-deep-purple {
        background: #7e57c2
    }
}

.palette-primary-deep-purple .footer,
.palette-primary-deep-purple .header {
    background: #7e57c2
}

.palette-primary-deep-purple .drawer .toc a.current,
.palette-primary-deep-purple .drawer .toc a:focus,
.palette-primary-deep-purple .drawer .toc a:hover {
    color: #7e57c2
}

.palette-primary-deep-purple .drawer .anchor a {
    border-left: 2px solid #7e57c2
}

.ios.standalone .palette-primary-deep-purple .article {
    background: -webkit-linear-gradient(top, #fff 50%, #7e57c2 0);
    background: linear-gradient(180deg, #fff 50%, #7e57c2 0)
}

.palette-primary-deep-purple .article a,
.palette-primary-deep-purple .article code,
.palette-primary-deep-purple .article h1,
.palette-primary-deep-purple .article h2 {
    color: #7e57c2
}

.palette-primary-deep-purple .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-deep-purple .article table th {
    background: #9e81d1
}

.palette-primary-deep-purple .results .meta {
    background: #7e57c2
}

@supports (-webkit-appearance:none) {
    .palette-primary-indigo {
        background: #3f51b5
    }
}

.palette-primary-indigo .footer,
.palette-primary-indigo .header {
    background: #3f51b5
}

.palette-primary-indigo .drawer .toc a.current,
.palette-primary-indigo .drawer .toc a:focus,
.palette-primary-indigo .drawer .toc a:hover {
    color: #3f51b5
}

.palette-primary-indigo .drawer .anchor a {
    border-left: 2px solid #3f51b5
}

.ios.standalone .palette-primary-indigo .article {
    background: -webkit-linear-gradient(top, #fff 50%, #3f51b5 0);
    background: linear-gradient(180deg, #fff 50%, #3f51b5 0)
}

.palette-primary-indigo .article a,
.palette-primary-indigo .article code,
.palette-primary-indigo .article h1,
.palette-primary-indigo .article h2 {
    color: #3f51b5
}

.palette-primary-indigo .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-indigo .article table th {
    background: #6f7dc8
}

.palette-primary-indigo .results .meta {
    background: #3f51b5
}

@supports (-webkit-appearance:none) {
    .palette-primary-blue {
        background: #5677fc
    }
}

.palette-primary-blue .footer,
.palette-primary-blue .header {
    background: #5677fc
}

.palette-primary-blue .drawer .toc a.current,
.palette-primary-blue .drawer .toc a:focus,
.palette-primary-blue .drawer .toc a:hover {
    color: #5677fc
}

.palette-primary-blue .drawer .anchor a {
    border-left: 2px solid #5677fc
}

.ios.standalone .palette-primary-blue .article {
    background: -webkit-linear-gradient(top, #fff 50%, #5677fc 0);
    background: linear-gradient(180deg, #fff 50%, #5677fc 0)
}

.palette-primary-blue .article a,
.palette-primary-blue .article code,
.palette-primary-blue .article h1,
.palette-primary-blue .article h2 {
    color: #5677fc
}

.palette-primary-blue .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-blue .article table th {
    background: #8099fd
}

.palette-primary-blue .results .meta {
    background: #5677fc
}

@supports (-webkit-appearance:none) {
    .palette-primary-light-blue {
        background: #03a9f4
    }
}

.palette-primary-light-blue .footer,
.palette-primary-light-blue .header {
    background: #03a9f4
}

.palette-primary-light-blue .drawer .toc a.current,
.palette-primary-light-blue .drawer .toc a:focus,
.palette-primary-light-blue .drawer .toc a:hover {
    color: #03a9f4
}

.palette-primary-light-blue .drawer .anchor a {
    border-left: 2px solid #03a9f4
}

.ios.standalone .palette-primary-light-blue .article {
    background: -webkit-linear-gradient(top, #fff 50%, #03a9f4 0);
    background: linear-gradient(180deg, #fff 50%, #03a9f4 0)
}

.palette-primary-light-blue .article a,
.palette-primary-light-blue .article code,
.palette-primary-light-blue .article h1,
.palette-primary-light-blue .article h2 {
    color: #03a9f4
}

.palette-primary-light-blue .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-light-blue .article table th {
    background: #42bff7
}

.palette-primary-light-blue .results .meta {
    background: #03a9f4
}

@supports (-webkit-appearance:none) {
    .palette-primary-cyan {
        background: #00bcd4
    }
}

.palette-primary-cyan .footer,
.palette-primary-cyan .header {
    background: #00bcd4
}

.palette-primary-cyan .drawer .toc a.current,
.palette-primary-cyan .drawer .toc a:focus,
.palette-primary-cyan .drawer .toc a:hover {
    color: #00bcd4
}

.palette-primary-cyan .drawer .anchor a {
    border-left: 2px solid #00bcd4
}

.ios.standalone .palette-primary-cyan .article {
    background: -webkit-linear-gradient(top, #fff 50%, #00bcd4 0);
    background: linear-gradient(180deg, #fff 50%, #00bcd4 0)
}

.palette-primary-cyan .article a,
.palette-primary-cyan .article code,
.palette-primary-cyan .article h1,
.palette-primary-cyan .article h2 {
    color: #00bcd4
}

.palette-primary-cyan .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-cyan .article table th {
    background: #40cddf
}

.palette-primary-cyan .results .meta {
    background: #00bcd4
}

@supports (-webkit-appearance:none) {
    .palette-primary-teal {
        background: #009688
    }
}

.palette-primary-teal .footer,
.palette-primary-teal .header {
    background: #009688
}

.palette-primary-teal .drawer .toc a.current,
.palette-primary-teal .drawer .toc a:focus,
.palette-primary-teal .drawer .toc a:hover {
    color: #009688
}

.palette-primary-teal .drawer .anchor a {
    border-left: 2px solid #009688
}

.ios.standalone .palette-primary-teal .article {
    background: -webkit-linear-gradient(top, #fff 50%, #009688 0);
    background: linear-gradient(180deg, #fff 50%, #009688 0)
}

.palette-primary-teal .article a,
.palette-primary-teal .article code,
.palette-primary-teal .article h1,
.palette-primary-teal .article h2 {
    color: #009688
}

.palette-primary-teal .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-teal .article table th {
    background: #40b0a6
}

.palette-primary-teal .results .meta {
    background: #009688
}

@supports (-webkit-appearance:none) {
    .palette-primary-green {
        background: #259b24
    }
}

.palette-primary-green .footer,
.palette-primary-green .header {
    background: #259b24
}

.palette-primary-green .drawer .toc a.current,
.palette-primary-green .drawer .toc a:focus,
.palette-primary-green .drawer .toc a:hover {
    color: #259b24
}

.palette-primary-green .drawer .anchor a {
    border-left: 2px solid #259b24
}

.ios.standalone .palette-primary-green .article {
    background: -webkit-linear-gradient(top, #fff 50%, #259b24 0);
    background: linear-gradient(180deg, #fff 50%, #259b24 0)
}

.palette-primary-green .article a,
.palette-primary-green .article code,
.palette-primary-green .article h1,
.palette-primary-green .article h2 {
    color: #259b24
}

.palette-primary-green .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-green .article table th {
    background: #5cb45b
}

.palette-primary-green .results .meta {
    background: #259b24
}

@supports (-webkit-appearance:none) {
    .palette-primary-light-green {
        background: #7cb342
    }
}

.palette-primary-light-green .footer,
.palette-primary-light-green .header {
    background: #7cb342
}

.palette-primary-light-green .drawer .toc a.current,
.palette-primary-light-green .drawer .toc a:focus,
.palette-primary-light-green .drawer .toc a:hover {
    color: #7cb342
}

.palette-primary-light-green .drawer .anchor a {
    border-left: 2px solid #7cb342
}

.ios.standalone .palette-primary-light-green .article {
    background: -webkit-linear-gradient(top, #fff 50%, #7cb342 0);
    background: linear-gradient(180deg, #fff 50%, #7cb342 0)
}

.palette-primary-light-green .article a,
.palette-primary-light-green .article code,
.palette-primary-light-green .article h1,
.palette-primary-light-green .article h2 {
    color: #7cb342
}

.palette-primary-light-green .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-light-green .article table th {
    background: #9dc671
}

.palette-primary-light-green .results .meta {
    background: #7cb342
}

@supports (-webkit-appearance:none) {
    .palette-primary-lime {
        background: #c0ca33
    }
}

.palette-primary-lime .footer,
.palette-primary-lime .header {
    background: #c0ca33
}

.palette-primary-lime .drawer .toc a.current,
.palette-primary-lime .drawer .toc a:focus,
.palette-primary-lime .drawer .toc a:hover {
    color: #c0ca33
}

.palette-primary-lime .drawer .anchor a {
    border-left: 2px solid #c0ca33
}

.ios.standalone .palette-primary-lime .article {
    background: -webkit-linear-gradient(top, #fff 50%, #c0ca33 0);
    background: linear-gradient(180deg, #fff 50%, #c0ca33 0)
}

.palette-primary-lime .article a,
.palette-primary-lime .article code,
.palette-primary-lime .article h1,
.palette-primary-lime .article h2 {
    color: #c0ca33
}

.palette-primary-lime .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-lime .article table th {
    background: #d0d766
}

.palette-primary-lime .results .meta {
    background: #c0ca33
}

@supports (-webkit-appearance:none) {
    .palette-primary-yellow {
        background: #f9a825
    }
}

.palette-primary-yellow .footer,
.palette-primary-yellow .header {
    background: #f9a825
}

.palette-primary-yellow .drawer .toc a.current,
.palette-primary-yellow .drawer .toc a:focus,
.palette-primary-yellow .drawer .toc a:hover {
    color: #f9a825
}

.palette-primary-yellow .drawer .anchor a {
    border-left: 2px solid #f9a825
}

.ios.standalone .palette-primary-yellow .article {
    background: -webkit-linear-gradient(top, #fff 50%, #f9a825 0);
    background: linear-gradient(180deg, #fff 50%, #f9a825 0)
}

.palette-primary-yellow .article a,
.palette-primary-yellow .article code,
.palette-primary-yellow .article h1,
.palette-primary-yellow .article h2 {
    color: #f9a825
}

.palette-primary-yellow .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-yellow .article table th {
    background: #fbbe5c
}

.palette-primary-yellow .results .meta {
    background: #f9a825
}

@supports (-webkit-appearance:none) {
    .palette-primary-amber {
        background: #ffb300
    }
}

.palette-primary-amber .footer,
.palette-primary-amber .header {
    background: #ffb300
}

.palette-primary-amber .drawer .toc a.current,
.palette-primary-amber .drawer .toc a:focus,
.palette-primary-amber .drawer .toc a:hover {
    color: #ffb300
}

.palette-primary-amber .drawer .anchor a {
    border-left: 2px solid #ffb300
}

.ios.standalone .palette-primary-amber .article {
    background: -webkit-linear-gradient(top, #fff 50%, #ffb300 0);
    background: linear-gradient(180deg, #fff 50%, #ffb300 0)
}

.palette-primary-amber .article a,
.palette-primary-amber .article code,
.palette-primary-amber .article h1,
.palette-primary-amber .article h2 {
    color: #ffb300
}

.palette-primary-amber .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-amber .article table th {
    background: #ffc640
}

.palette-primary-amber .results .meta {
    background: #ffb300
}

@supports (-webkit-appearance:none) {
    .palette-primary-orange {
        background: #fb8c00
    }
}

.palette-primary-orange .footer,
.palette-primary-orange .header {
    background: #fb8c00
}

.palette-primary-orange .drawer .toc a.current,
.palette-primary-orange .drawer .toc a:focus,
.palette-primary-orange .drawer .toc a:hover {
    color: #fb8c00
}

.palette-primary-orange .drawer .anchor a {
    border-left: 2px solid #fb8c00
}

.ios.standalone .palette-primary-orange .article {
    background: -webkit-linear-gradient(top, #fff 50%, #fb8c00 0);
    background: linear-gradient(180deg, #fff 50%, #fb8c00 0)
}

.palette-primary-orange .article a,
.palette-primary-orange .article code,
.palette-primary-orange .article h1,
.palette-primary-orange .article h2 {
    color: #fb8c00
}

.palette-primary-orange .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-orange .article table th {
    background: #fca940
}

.palette-primary-orange .results .meta {
    background: #fb8c00
}

@supports (-webkit-appearance:none) {
    .palette-primary-deep-orange {
        background: #ff7043
    }
}

.palette-primary-deep-orange .footer,
.palette-primary-deep-orange .header {
    background: #ff7043
}

.palette-primary-deep-orange .drawer .toc a.current,
.palette-primary-deep-orange .drawer .toc a:focus,
.palette-primary-deep-orange .drawer .toc a:hover {
    color: #ff7043
}

.palette-primary-deep-orange .drawer .anchor a {
    border-left: 2px solid #ff7043
}

.ios.standalone .palette-primary-deep-orange .article {
    background: -webkit-linear-gradient(top, #fff 50%, #ff7043 0);
    background: linear-gradient(180deg, #fff 50%, #ff7043 0)
}

.palette-primary-deep-orange .article a,
.palette-primary-deep-orange .article code,
.palette-primary-deep-orange .article h1,
.palette-primary-deep-orange .article h2 {
    color: #ff7043
}

.palette-primary-deep-orange .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-deep-orange .article table th {
    background: #ff9472
}

.palette-primary-deep-orange .results .meta {
    background: #ff7043
}

@supports (-webkit-appearance:none) {
    .palette-primary-brown {
        background: #795548
    }
}

.palette-primary-brown .footer,
.palette-primary-brown .header {
    background: #795548
}

.palette-primary-brown .drawer .toc a.current,
.palette-primary-brown .drawer .toc a:focus,
.palette-primary-brown .drawer .toc a:hover {
    color: #795548
}

.palette-primary-brown .drawer .anchor a {
    border-left: 2px solid #795548
}

.ios.standalone .palette-primary-brown .article {
    background: -webkit-linear-gradient(top, #fff 50%, #795548 0);
    background: linear-gradient(180deg, #fff 50%, #795548 0)
}

.palette-primary-brown .article a,
.palette-primary-brown .article code,
.palette-primary-brown .article h1,
.palette-primary-brown .article h2 {
    color: #795548
}

.palette-primary-brown .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-brown .article table th {
    background: #9b8076
}

.palette-primary-brown .results .meta {
    background: #795548
}

@supports (-webkit-appearance:none) {
    .palette-primary-grey {
        background: #757575
    }
}

.palette-primary-grey .footer,
.palette-primary-grey .header {
    background: #757575
}

.palette-primary-grey .drawer .toc a.current,
.palette-primary-grey .drawer .toc a:focus,
.palette-primary-grey .drawer .toc a:hover {
    color: #757575
}

.palette-primary-grey .drawer .anchor a {
    border-left: 2px solid #757575
}

.ios.standalone .palette-primary-grey .article {
    background: -webkit-linear-gradient(top, #fff 50%, #757575 0);
    background: linear-gradient(180deg, #fff 50%, #757575 0)
}

.palette-primary-grey .article a,
.palette-primary-grey .article code,
.palette-primary-grey .article h1,
.palette-primary-grey .article h2 {
    color: #757575
}

.palette-primary-grey .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-grey .article table th {
    background: #989898
}

.palette-primary-grey .results .meta {
    background: #757575
}

@supports (-webkit-appearance:none) {
    .palette-primary-blue-grey {
        background: #546e7a
    }
}

.palette-primary-blue-grey .footer,
.palette-primary-blue-grey .header {
    background: #546e7a
}

.palette-primary-blue-grey .drawer .toc a.current,
.palette-primary-blue-grey .drawer .toc a:focus,
.palette-primary-blue-grey .drawer .toc a:hover {
    color: #546e7a
}

.palette-primary-blue-grey .drawer .anchor a {
    border-left: 2px solid #546e7a
}

.ios.standalone .palette-primary-blue-grey .article {
    background: -webkit-linear-gradient(top, #fff 50%, #546e7a 0);
    background: linear-gradient(180deg, #fff 50%, #546e7a 0)
}

.palette-primary-blue-grey .article a,
.palette-primary-blue-grey .article code,
.palette-primary-blue-grey .article h1,
.palette-primary-blue-grey .article h2 {
    color: #546e7a
}

.palette-primary-blue-grey .article .headerlink {
    color: rgba(0, 0, 0, .26)
}

.palette-primary-blue-grey .article table th {
    background: #7f929b
}

.palette-primary-blue-grey .results .meta {
    background: #546e7a
}

.palette-accent-red .article a:focus,
.palette-accent-red .article a:hover {
    color: #ff2d6f
}

.palette-accent-red .repo a {
    background: #ff2d6f
}

.palette-accent-dark .article a:focus,
.palette-accent-dark .article a:hover {
    color: #ff2d6f
}

.palette-accent-dark .repo a {
    background: #ff2d6f
}

.palette-accent-pink .article a:focus,
.palette-accent-pink .article a:hover {
    color: #f50057
}

.palette-accent-pink .repo a {
    background: #f50057
}

.palette-accent-purple .article a:focus,
.palette-accent-purple .article a:hover {
    color: #e040fb
}

.palette-accent-purple .repo a {
    background: #e040fb
}

.palette-accent-deep-purple .article a:focus,
.palette-accent-deep-purple .article a:hover {
    color: #7c4dff
}

.palette-accent-deep-purple .repo a {
    background: #7c4dff
}

.palette-accent-indigo .article a:focus,
.palette-accent-indigo .article a:hover {
    color: #536dfe
}

.palette-accent-indigo .repo a {
    background: #536dfe
}

.palette-accent-blue .article a:focus,
.palette-accent-blue .article a:hover {
    color: #6889ff
}

.palette-accent-blue .repo a {
    background: #6889ff
}

.palette-accent-light-blue .article a:focus,
.palette-accent-light-blue .article a:hover {
    color: #0091ea
}

.palette-accent-light-blue .repo a {
    background: #0091ea
}

.palette-accent-cyan .article a:focus,
.palette-accent-cyan .article a:hover {
    color: #00b8d4
}

.palette-accent-cyan .repo a {
    background: #00b8d4
}

.palette-accent-teal .article a:focus,
.palette-accent-teal .article a:hover {
    color: #00bfa5
}

.palette-accent-teal .repo a {
    background: #00bfa5
}

.palette-accent-green .article a:focus,
.palette-accent-green .article a:hover {
    color: #12c700
}

.palette-accent-green .repo a {
    background: #12c700
}

.palette-accent-light-green .article a:focus,
.palette-accent-light-green .article a:hover {
    color: #64dd17
}

.palette-accent-light-green .repo a {
    background: #64dd17
}

.palette-accent-lime .article a:focus,
.palette-accent-lime .article a:hover {
    color: #aeea00
}

.palette-accent-lime .repo a {
    background: #aeea00
}

.palette-accent-yellow .article a:focus,
.palette-accent-yellow .article a:hover {
    color: #ffd600
}

.palette-accent-yellow .repo a {
    background: #ffd600
}

.palette-accent-amber .article a:focus,
.palette-accent-amber .article a:hover {
    color: #ffab00
}

.palette-accent-amber .repo a {
    background: #ffab00
}

.palette-accent-orange .article a:focus,
.palette-accent-orange .article a:hover {
    color: #ff9100
}

.palette-accent-orange .repo a {
    background: #ff9100
}

.palette-accent-deep-orange .article a:focus,
.palette-accent-deep-orange .article a:hover {
    color: #ff6e40
}

.palette-accent-deep-orange .repo a {
    background: #ff6e40
}

@media only screen and (max-width:959px) {
    .palette-primary-red .project {
        background: #e84e40
    }
    .palette-primary-dark .project {
        background: #172232
    }
    .palette-primary-pink .project {
        background: #e91e63
    }
    .palette-primary-purple .project {
        background: #ab47bc
    }
    .palette-primary-deep-purple .project {
        background: #7e57c2
    }
    .palette-primary-indigo .project {
        background: #3f51b5
    }
    .palette-primary-blue .project {
        background: #5677fc
    }
    .palette-primary-light-blue .project {
        background: #03a9f4
    }
    .palette-primary-cyan .project {
        background: #00bcd4
    }
    .palette-primary-teal .project {
        background: #009688
    }
    .palette-primary-green .project {
        background: #259b24
    }
    .palette-primary-light-green .project {
        background: #7cb342
    }
    .palette-primary-lime .project {
        background: #c0ca33
    }
    .palette-primary-yellow .project {
        background: #f9a825
    }
    .palette-primary-amber .project {
        background: #ffb300
    }
    .palette-primary-orange .project {
        background: #fb8c00
    }
    .palette-primary-deep-orange .project {
        background: #ff7043
    }
    .palette-primary-brown .project {
        background: #795548
    }
    .palette-primary-grey .project {
        background: #757575
    }
    .palette-primary-blue-grey .project {
        background: #546e7a
    }
}
