{{ partial "head" . }}

<div class="backdrop">
	<div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header">
	{{ partial "header" . }}
</header>

<main class="main">
	<div class="drawer">
		{{ partial "drawer" . }}
	</div>

	<article class="article">
		<div class="wrapper">
			<h1>Pages in {{ .Title | singularize }}</h1>

			{{ range .Data.Pages }}
			<a href="{{ .Permalink }}" title="{{ .Title }}">
				<h2>{{ .Title }}</h2>
			</a>

			<br>
			{{ printf "%s" .Summary | markdownify }}

			<hr>
			{{ end }}

			<aside class="copyright" role="note" style="text-align: center">
				<br>
				{{ with .Site.Params.copyright }}
				&copy; {{ now.Format "2006" }} &middot; {{ . }}
				<strong>CC BY-SA</strong> <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img alt="CC License" style="border-width:0; margin-left: 10px" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png"></a>
				{{ end }}
			</aside>
		</div>
	</article>

	<div class="results" role="status" aria-live="polite">
		<div class="scrollable">
			<div class="wrapper">
				<div class="meta"></div>
				<div class="list"></div>
			</div>
		</div>
	</div>
</main>

{{ partial "footer_js" . }}
